.table {
  margin: 0 auto;
  z-index: 1;
  position: relative;
}

.thead {
  overflow: hidden;
  z-index: 9999;
  position: absolute;
  top: -18px;
  left: 0;
  background-color: #eee;
}

.tbody {
  margin-top: 18px;
  overflow: auto;
}

.tbody.desktop {
  height: 128px;
}

.td {
  display: inline-block;
  word-break:break-all;
}

.tbody .tr:nth-child(even) .td {
  background: #ccc;
}
